/* src/components/Navbar.css */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #eff2ca;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Alineación del logo con el nombre */
.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo a {
  display: flex;
  align-items: center;
  color: #6c330a;
  font-family: 'Aharoni', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-logo .logo {
  width: 30px; /* Ajusta el tamaño del logo */
  height: auto;
  margin-right: 10px; /* Espacio entre el logo y el texto */
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .navbar-logo .logo {
    width: 15%; /* Tamaño del logo en pantallas pequeñas */
    margin-right: 10px;
  }
}


/* Ocultamos los enlaces en pantallas pequeñas */
.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: #6c330a;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  transition: color 0.3s;
  margin: 15px;
}

.navbar-links a:hover {
  color: white;
}

/* Estilos para el ícono de menú hamburguesa */
.menu-icon {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.3s;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar-links {
    position: absolute;
    top: 90px;
    right: 0;
    background-color: #eff5a8;
    width: 100%;
    max-width: 180px;
    height: 135%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.3s;
    opacity: 80%;
    margin: 5px;
    border: solid 1px black;
    border-radius: 10px;
    display: none;
  }
  .navbar-links:hover {
    color: blanchedalmond;
  }

  .navbar-links.active {
    display: block;
    transform: translateX(0);
  }

  .navbar-links ul {
    flex-direction: column;
    gap: 5px;
  }

  .menu-icon {
    display: flex;
  }
}
